@{ //ViewBag.Title = "Test Page";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<!-- Begin Page Content -->
<div class="container-fluid">



    <!-- Content Row -->
    <div class="container-fluid">
        <h2 class="text-center">Informasi RT 005/006</h2>

        <div class="row">
            <!-- Pengumuman -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card bg-info text-white shadow">
                    <div class="card-body">
                        <h5 class="card-title">Pengumuman</h5>
                        <p class="card-text">Informasi penting bagi warga RT, seperti pembayaran iuran dan jadwal ronda.</p>
                        <a href="@Url.Action("DaftarInfo", "Home")" class="btn btn-light btn-sm">Lihat Detail</a>
                    </div>
                </div>
            </div>

            <!-- Laporan Warga -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card bg-warning text-dark shadow">
                    <div class="card-body">
                        <h5 class="card-title">Laporan Warga & Kontak Pengurus</h5>
                        <p class="card-text">Laporkan kejadian atau masalah di lingkungan RT.</p>
                        <a href="@Url.Action("Kontak", "Home")" class="btn btn-dark btn-sm">Kirim Laporan</a>
                    </div>
                </div>
            </div>

            <!-- Kegiatan RT -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card bg-success text-white shadow">
                    <div class="card-body">
                        <h5 class="card-title">Kegiatan RT</h5>
                        <p class="card-text">Jadwal kerja bakti, arisan, pertemuan warga, dan event lainnya.</p>
                        <a href="@Url.Action("DetailAct", "Home")" class="btn btn-light btn-sm">Lihat Jadwal</a>
                    </div>
                </div>
            </div>
            <!-- Pengumuman -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card bg-info text-white shadow">
                    <div class="card-body">
                        <h5 class="card-title">Informasi Pembayaran</h5>
                        <p class="card-text">Informasi bagi warga RT yang sudah membayar iuran</p>
                        <a href="@Url.Action("Table", "Home")" class="btn btn-light btn-sm">Lihat Detail</a>
                    </div>
                </div>
            </div>
            <!-- Kontak Pengurus -->
            <!--<div class="col-xl-3 col-md-6 mb-4">
        <div class="card bg-danger text-white shadow">
            <div class="card-body">
                <h5 class="card-title">Kontak Pengurus</h5>
                <p class="card-text">Daftar kontak Ketua RT, Sekretaris, Bendahara, dan lainnya.</p>
                <a href="#" class="btn btn-light btn-sm">Hubungi</a>
            </div>
        </div>
    </div>-->
        </div>
        <div class="row">
            
        </div>


    </div>
    <!-- /.container-fluid -->

</div>
<!-- End of Main Content -->
<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; @DateTime.Now.Year. RT005/RW006</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="@Url.Action("LogOut", "Login")">Logout</a>
            </div>
        </div>
    </div>
</div>