@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Form Input Iuran";
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}

@if (TempData["Success"] != null)
{
    <div class="alert alert-success">@TempData["Success"]</div>
}

<!-- Topbar -->
<!-- Begin Page Content -->
<div class="container-fluid">



    <!-- Content Row -->
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="container mt-4">
            <div class="card shadow-lg">
                <div class="card-header bg-primary text-white">
                    <h4>Form Input Iuran</h4>
                </div>
                <div class="card-body">

                    <div class="mb-3">
                        <label for="Nama" class="form-label">Nama</label>
                        <input type="text" class="form-control" id="Nama" required />
                    </div>

                    <div class="mb-3">
                        <label for="Nik" class="form-label">Nik</label>
                        <input type="text" class="form-control" id="NIK" required />
                    </div>

                    <div class="mb-3">
                        <label for="Alamat" class="form-label">Alamat</label>
                        <textarea class="form-control" id="Alamat" rows="3" required></textarea>
                    </div>

                    <div class="mb-3">
                        <label for="StatusIuran" class="form-label">Status Iuran</label>
                        <select class="form-select" id="StatusIuran" required>
                            <option value="">--Pilih--</option>
                            <option value="Lunas">Lunas</option>
                            <option value="Belum Lunas">Belum Lunas</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="BulanIuran" class="form-label">Bulan Iuran</label>
                        <select id="BulanIuran" name="BulanIuran" class="form-control-sm"></select>

                        <label for="tahunIuran" class="form-label">Tahun Iuran</label>
                        <select id="tahunIuran" name="tahunIuran" class="form-control-sm"></select>
                    </div>

                    <div class="mb-3">
                        <label for="Kontak" class="form-label">Kontak</label>
                        <input type="tel" class="form-control" id="Kontak" pattern="^08[0-9]{8,11}$" required />
                        <small>Format: 08XXXXXXXXXX (10-13 digit)</small>
                    </div>
                    <div class="row pt-2 justify-content-center">
                        <div class="col-md-auto">
                            <div class="invalid-feedback" id="message"></div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-success" onclick="UploadIuran()">Simpan</button>

                </div>
            </div>

            <!-- Form Upload Excel -->
            <div class="card shadow-lg mt-4">
                <div class="card-header bg-secondary text-white">
                    <h4>Upload Data Iuran dari Excel</h4>
                </div>

                <div class="card-body">
                    <a href="@Url.Action("DownloadTemplate", "Input")" class="btn btn-primary">Download Template</a>

                    <br /><br />
                    <form id="uploadForm" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="file" class="form-label">Pilih File Excel</label>
                            <input type="file" class="form-control" id="fileInput" name="file" accept=".xlsx, .xls" required />
                        </div>
                        <button type="submit" class="btn btn-warning">Upload</button>
                    </form>
                </div>

                <!--<div class="card-body">
                <a href="@Url.Action("DownloadTemplate", "Home")" class="btn btn-primary">Download Template</a>

                <br /><br />-->
                @*@using (Html.BeginForm("UploadExcel", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="mb-3">
                            <label for="file" class="form-label">Pilih File Excel</label>
                            <input type="file" class="form-control" name="file" accept=".xlsx, .xls" required />
                        </div>
                        <button type="submit" class="btn btn-warning">Upload</button>
                    }*@
                <!--<form id="formUploadExcel" enctype="multipart/form-data">
                        <input type="file" id="fileExcel" name="fileExcel" accept=".xlsx" class="form-control">
                        <button type="submit" class="btn btn-warning mt-2">Upload Excel</button>
                    </form>
                    <div id="alert-message" class="alert d-none mt-2" role="alert"></div>
                </div>-->
            </div>
        </div>



    </div>
    <!-- /.container-fluid -->

</div>
<!-- End of Main Content -->
<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; @DateTime.Now.Year. RT005/RW006</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="@Url.Action("LogOut", "Login" )">Logout</a>
            </div>
        </div>
    </div>
</div>

<script src="~/Js/InputIuran.js"></script>